
<div class="show_album">

  <h2><%=@album.title%><h/2>

  <br>

  <%= link_to "Edit-Album", edit_album_url%>

  <br>

    <ol>
      <% @album.tracks.each do |trk| %>
        <li><%= trk.title %> 
        <%= link_to "Edit-Track-Info", edit_track_url(trk.id) %>
        <%= link_to "Show-Notes", note_url(trk) %>
        </li>
      <% end %>
    </ol>

  <br>

      <%= link_to "Add-Track", new_album_track_url(@album) %>

  <% band = @album.band %>
  <%= link_to "band-page", band_url(band.id)%>
</div>