<!DOCTYPE html>
<html>
  <head>
    <title>MusicLabel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style type="text/css">

    .user_state {
      float: right;
    }

    h2 {
      clear: left;
    }

    </style>
  </head>
  
  <body>

    <header>
      <h1>Music App</h1>
    </header>

    <div class="user_state" >
      <% if current_user.nil? %>
        <a href="<%= new_session_url %>">Sign in</a>
        or
        <a href="<%= new_user_url %>">Sign up</a>
      <% else %>
        <%= current_user.email %>
        <%= button_to "Log-Out", session_url, method: :delete %>
      <% end %>
    </div>

    <%= yield %>
  </body>

  <footer>
    <p> Welcome to Sabit's Band-site :)</p>
    <%= yield :footer %>    
  </footer>
</html>
