<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.POKEMON_TYPES = <%=raw Pokemon::TYPES %>
    </script>
  </head>

  <body>
    <header>
      <img src="./assets/pokeball.svg" alt="pokedex">
      
      <% if current_user %>
        <h3><%= current_user.name %></h3>
        <%= button_to "Log-out", api_session_url, method: :delete%>
      <% else %>
        <%= link_to "Log-In", new_api_session_url %>
      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
